.card {
  position: relative;
  width: 280px;
  height: 150px;
  overflow: visible;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-shrink: 0;
}

.imageWrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  border: 2px solid transparent;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  transition: transform 0.5s ease; /* Smooth zoom effect */
}

/* Dark overlay */
.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.254);
  z-index: 1;
  transition: background 0.3s ease;
}

.labelName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  z-index: 2;
  pointer-events: none;
}

/* Hover effects */
.card:hover {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

.card:hover .imageWrapper::after {
  background: rgba(4, 0, 0, 0.45);
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: inherit;
  transition: 0.6s ease;
  z-index: -1;
}

.card:hover::before {
  border-color: red;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.6);
}

/* Image zoom on hover */
.card:hover .cardImage {
  transform: scale(1.1); /* Slight zoom */
}
