/* Basic Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #141414;
  color: #fff;
}


.main {
  display: flex;
  flex-direction: column;
  min-height: 100dvh; 
}

.pageContent {
  flex: 1;
}