.navContainer {
  width: 100%;
  height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navLinks {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3 ease;
}

.navContainer li a:hover {
  color: #e50914;
}

.navContainer li a :active{
  color: #e50914;
}

.profile{
  display: flex;
  align-items: center;
  cursor: pointer;
}
