.projectCard {
  background: #141414;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(216, 0, 0, 0.566);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  position: relative;
}

.projectCard:hover {
  box-shadow: 0 8px 25px rgba(216, 0, 0, 0.8);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 250px;
}

.projectImage {
  object-fit: cover;
  border-bottom: 2px solid #ff1e1e;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.projectInfo {
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.projectTitle {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ff1e1e;
}

.projectContext {
  font-size: 0.95rem;
  line-height: 1.6rem;
  color: #ccc;
  margin-bottom: 1rem;
  text-align: justify;
}

.projectTechStacks {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.projectItem {
  background: #2b2b2b;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.85rem;
  font-weight: 550;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: background 0.3s ease, border-color 0.3s ease;
}

.projectItem:hover {
  background: #ff1e1e;
  border-color: #ff1e1e;
}

.liveLinkButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: auto; /* This pushes the button to the bottom */
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: #e50914;
  border: 1px solid #e50914;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  align-self: flex-end;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.liveLinkButton:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(233, 9, 20, 0.6);
  background: rgba(229, 9, 20, 0.1);
}

.linkIcon {
  width: 1rem;
  height: 1rem;
}