.container {
  min-height: 100vh;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

@media screen and (max-width: 480px) {
  .container {
    gap: 10px;
  }
}
